/* homepage.html CSS */

/*
 * NAVBAR CSS
 */

.navbar{
    background-color: black;
}

nav .navbar-brand {
    font-size: 30px;
    color: white;
    font-weight: 900;
    font-size: 35px;
}

.nav-item{
    padding-top: 12px;
}

.nav-link{
    color: lightgray;
    font-size: 18px;
}

.hompage-header{
    font-weight: 900;
    font-size: 35px;
    padding-top: 45px;
    padding-bottom: 45px;
    text-align: center;
}

.website-description{
    font-size: 20px;
    text-align: center;
    color: rgb(72, 72, 72);
}

.button-container {
    display: flex;
    justify-content: center; /* Align buttons at the center of the container */
    padding-top: 45px;
    padding-bottom: 45px;
}

.button {
    padding: 10px 20px;
    margin: 5px; /* Reduced margin for closer proximity */
    background-color: #007BFF; /* Bootstrap primary blue */
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    transition: background-color 0.3s ease;
    border-radius: 12px;
}

.button:hover {
    text-decoration: none; /* Explicitly remove underline on hover */
}

.img-hover {
    position: relative;
    overflow: hidden;
}
.img-hover img {
    transition: all 0.3s ease;
}
.img-hover:hover img {
    filter: brightness(50%);
}
.img-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px; /* Adjusted font size */
    text-align: center;
    width: 90%; /* Reduce width to avoid edge clipping */
    padding: 5px; /* Add padding for better legibility */
    box-sizing: border-box; /* Include padding in width calculation */
    white-space: nowrap; /* Prevents text from wrapping */
    overflow: hidden; /* Hides text that overflows the element's box */
    text-overflow: ellipsis; /* Show ellipsis when text overflows */
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}
.img-hover:hover .img-text {
    visibility: visible;
    opacity: 1;
}

/*
 * LEARN CSS
 */
.instructions-header{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 25px;
    font-weight: 800;
}


.mapDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mapDiv path{
    fill: #8ebd99;
    stroke: black;
    stroke-width: 1px;
    height: 200px;
}

.container {
    text-align: center; /* Centers the content of the container */
}

.mapDiv {
    margin-top: 50px;
    margin-bottom: 20px; /* Adds space between the map and the media player */
}






