.note {
    position: fixed;
    pointer-events: none; /* Makes the element non-interactive */
    opacity: 0; /* Start fully transparent */
    transition: opacity 0.5s ease-out; /* Fade out smoothly */
}

/*
 * layout.html
 */
.navbar{
    background-color: black;
}

nav .navbar-brand {
    font-size: 30px;
    color: white;
    font-weight: 900;
    font-size: 35px;
}

.nav-item{
    padding-top: 12px;
}

.nav-link{
    color: lightgray;
    font-size: 18px;
}


/* homepage.html CSS */
.hompage-header{
    font-weight: 900;
    font-size: 65px;
    line-height: 1.25; /* Adjust this value to reduce spacing */
    padding-top: 120px;
    padding-bottom: 30px;
    text-align: left;
}

.website-description{
    font-size: 20px;
    text-align: left;
    color: black;
}

.button-container {
    display: flex;
    justify-content: left; /* Align buttons at the center of the container */
    padding-top: 45px;
    padding-bottom: 45px;

}

.learn-button {
    padding: 10px 20px;
    margin-right: 10px; /* Add margin to create space between buttons */
    background-color: #017b61; /* Bootstrap primary blue */
    color: white;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    transition: background-color 0.3s ease;
    border-radius: 12px;
}

.quiz-button {
    padding: 10px 20px;
    background-color: #e7e7e7;
    color: black;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    transition: background-color 0.3s ease;
    border-radius: 12px;
}

.learn-button:hover {
    text-decoration: none; /* Explicitly remove underline on hover */
    background-color: #013d30;
    color: white;
}

.quiz-button:hover{
    text-decoration: none; /* Explicitly remove underline on hover */
    background-color: rgb(152, 152, 152);
    color: black;
}

/* Vinyl and album cover wrapper adjustments */
.vinyl-wrapper {
    display: flex;
    justify-content: center;  /* Center horizontally */
    align-items: center;      /* Center vertically */
    padding-top: 75px;
}

.vinyl-image {
    width: 100%;               /* Adjust size as needed */
    max-width: 600px;         /* Limits the size to be reasonable on large screens */
    position: relative;       /* Ensures it can be positioned accurately within the flex container */
    z-index: 1;               /* Keep vinyl in the background */
}

.album-cover {
    position: absolute;       /* Allows precise placement over the vinyl */
    width: 86%;               /* Album cover is smaller than the vinyl */
    z-index: 2;               /* Ensures album cover is on top */
    transform: rotate(-3deg); /* Tilts the album cover to the left by 10 degrees */
}

.cover-image {
    width: 100%;              /* Ensures cover image fills the album cover div */
    display: block;           /* Removes any extra space around the image */
    transition: opacity 0.4s ease;  /* Smooth transition for the opacity */
    opacity: 1;  /* Default opacity */
}

.album-cover.fade-out .cover-image {
    opacity: 0;  /* Fade out effect */
}





/*
 * LEARN CSS
 */
.instructions-header{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 25px;
    font-weight: 800;
}

.mapDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mapDiv path{
    fill: #8ebd99;
    stroke: black;
    stroke-width: 1px;
    height: 200px;
}

.container {
    text-align: center; /* Centers the content of the container */
}

.mapDiv {
    margin-top: 50px;
    margin-bottom: 20px; /* Adds space between the map and the media player */
}