{% extends "layout.html" %}

{% block content %}

    <head>
        <script src="{{ url_for('static', filename='homepage.js') }}"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script>
            document.querySelectorAll('.img-hover').forEach(item => {
                item.addEventListener('mouseenter', event => {
                    item.querySelector('audio').play();
                });
                item.addEventListener('mouseleave', event => {
                    item.querySelector('audio').pause();
                    item.querySelector('audio').currentTime = 0;
                });
            });
            </script>
            
    </head>

    <body>
        <div class = "container">

            <div class = "row">

                <div class = "hompage-header"> 
                    Explore Mexican Regional Music
                </div>

            </div>

            <div class = "row">

                <div class = "website-description">
                    Discover and learn the unique characteristics that define each traditional Mexican music genre and its respective region!
                </div>

            </div>

            <div class="row">
                <div class="button-container">
                    <a href="/map" class="button">Take Me to Learning</a>
                    <a href="/quiz/1" class="button">Test Me</a>
                </div>
            </div>

            <div class = "row">

                <div class="carousel-item active">
                    <div class="row">
                        <!-- Images with overlay and audio -->
                        {% for image, genre in [('SonMadera.jpg', 'Son Mexicano'), ('LosTigres.png', 'Norteño'), ('MariachiVargas.jpg', 'Mariachi'), ('LosReyes.jpg', 'Cumbia Sonidera')] %}
                        <div class="col-md-3 img-hover">
                            <img src="{{ url_for('static', filename='Images/' ~ image) }}" class="d-block w-100 img-fluid">
                            <span class="img-text">{{ genre }}</span>
                        </div>
                        {% endfor %}
                    </div>
                </div>

            </div>
                
        </div>

    </body>

{% endblock %}