{% extends "layout.html" %}

{% block content %}

<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <script>
        function toggleAudio() {
            var audio = document.getElementById("audioPlayer");
            if (audio.paused) {
                audio.play();
            } else {
                audio.pause();
            }
        }

        
    </script>
</head>

<body>

    <div class="container">

        <div class="row">

            <div class="col-6">
                <img src="{{ item.image }}" alt="{{ item.name }}" width="600">
            </div>

            <div class="col-6">
                <div class="regionName">
                    {{ item.name }}
                </div>
                <div class="regionDescription">
                    {{ item.description}}
                </div>
                <div>
                    {{ item.count }}
                </div>
            </div>

        </div>

        <div class="row">
            <audio id="audioPlayer" controls>
                <source src="{{item.audio1}}">
            </audio>
        </div>

        

    </div>

</body>

</html>

{% endblock %}
