{% extends "layout.html" %}

{% block content %}

<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <script>
        function toggleAudio() {
            var audio = document.getElementById("audioPlayer");
            if (audio.paused) {
                audio.play();
            } else {
                audio.pause();
            }
        }        
    </script>
</head>

    <body>

        <div class="container">

            <div class="row">
                
                <div class="regionName">
                    {{ item.name }}
                </div>

                <div class="col-6">
                   
                    <img src="{{ item.image }}" alt="{{ item.name }}" width="450">
                
                </div>

                <div class="col-6">
                
                    <div class="regionDescription">
                        {{ item.description}}
                    </div>

                    <div>
                        {{ item.count }}
                    </div>

                </div>

            </div>

        <div class="row">  
            <audio id="audioPlayer" controls>
                <source src="{{item.audio1}}">
            </audio>
        </div>
        
        <div class="row">
            <div class="col-10"></div>
            <div class="map-button-container col-2">
                <button class="map-button btn" onclick="window.location.href='/map'">Back to Map</button>
            </div>
        </div>

        

    </div>

    </body>

</html>

{% endblock %}
